<!-- Contenido del sidebar incluyendo su div con padding-->
<div class="h-100 | d-flex flex-column align-items-start ">

  <!-- Titulo -->
  <div class="text-center my-2 w-100">
    <h2 class="titleapp"><b>Quillaemprende</b></h2>
  </div>

  <!-- Botones -->
  <div class="d-flex flex-column gap-3">
    <button class="btn btn-lg btn-light d-flex" type="button">
      <i class="bi bi-house-door me-2"></i>
      <span>Dashboard</span>
    </button>

    <button class="btn btn-lg btn-light d-flex" type="button">
      <i class="bi bi-diagram-3 me-2"></i>
      <span>Modulos y Roles</span>
    </button>

    <button class="btn btn-lg btn-light d-flex" type="button">
      <i class="bi bi-tags me-2"></i>
      <span>Productos y Servicios</span>
    </button>

    <button class="btn btn-lg btn-light d-flex" type="button">
      <i class="bi bi-people me-2"></i>
      <span>Usuarios</span>
    </button>

    <button class="btn btn-lg btn-light d-flex" type="button">
      <i class="bi bi-cart-check me-2"></i>
      <span>Ventas</span>
    </button>

    <button class="btn btn-lg btn-light d-flex" type="button">
      <i class="bi bi-cash-stack me-2"></i>
      <span>Abonos</span>
    </button>
  </div>

  <!-- Dropdown Button -->
  <div class="mt-auto d-flex flex-column w-100">
    <div class="dropdown">
      <button class="btn btn-lg btn-light d-flex w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-gear me-2"></i>
        <span>Ajustes</span>
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Opción 1</a></li>
        <li><a class="dropdown-item" href="#">Opción 2</a></li>
        <li><a class="dropdown-item" href="#">Opción 3</a></li>
      </ul>
    </div>
  </div>

</div>
