<div class="bg-info border border-light-subtle h-100 p-3 rounded-4 overflow-hidden">
  <div class="h-100 rounded">
    <div class="h-100 overflow-auto">
      <p>Contenido con scroll. Este texto es solo un ejemplo para demostrar
        el comportamiento del scroll dentro de este div.</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>
      <p>Más contenido...</p>

    </div>
  </div>
</div>
