<!-- Contenedor principal de navegación con botones fijos en la parte superior -->
<div class="mb-4 border border-light-subtle p-3 rounded-4">

  <div class="row w-100">

    <!-- Grupo de botones de navegación horizontal -->
    <div class="d-inline-flex gap-2">

      <button class="btn btn-lg btn-light d-flex" type="button" routerLink="lista" routerLinkActive="active">
        <i class="bi bi-cash-stack me-2"></i>
        <span>Abonos</span>
      </button>

      <button class="btn btn-lg btn-light d-flex" type="button" routerLink="generos" routerLinkActive="active">
        <i class="bi bi-cash-stack me-2"></i>
        <span>Otros...</span>
      </button>

      <button class="btn btn-lg btn-light d-flex" type="button" routerLink="generos" routerLinkActive="active">
        <i class="bi bi-cash-stack me-2"></i>
        <span>Otros...</span>
      </button>

    </div>

  </div>

</div>
