<!-- Contenedor principal con scroll para el contenido dinámico -->
<div class="bg-white border border-light-subtle h-100 p-3 rounded-4 overflow-hidden">

  <!-- Contenedor interno que mantiene el scroll dentro de los límites -->
  <div class="h-100 rounded">

    <!-- Área scrolleable que contiene el contenido -->
    <div class="h-100 overflow-auto">

      <!-- Aquí va el contenido dinámico -->

      <router-outlet />
      <app-table-abonos></app-table-abonos>

    </div>

  </div>

</div>
