<!-- Contenedor principal de la aplicación que ocupa toda la altura de la ventana -->
<div class="container-fluid vh-100" style="background-color: rgba(161, 197, 255, 0.5);">

  <div class="row h-100">

    <!-- Barra lateral izquierda -->
    <div class="col-2 h-100 p-3">

      <div class="bg-light h-100 overflow-auto p-3 rounded-4">

        <app-sidebar></app-sidebar>

      </div>

    </div>

    <!-- Área principal de contenido -->
    <div class="col-10 h-100 p-3">

      <!-- <router-outlet></router-outlet> -->
      <app-page-productosyservicios></app-page-productosyservicios>
      <!-- <app-page-modulosyroles></app-page-modulosyroles> -->

    </div>

  </div>

</div>
