<!-- Container principal: vh-100 asegura altura completa del viewport -->
<div class="container-fluid vh-100" style="background-color: rgba(161, 197, 255, 0.5);;">

  <!-- Row principal con altura completa -->
  <div class="row h-100">

    <!-- Sidebar izquierdo -->
    <!-- h-100 asegura altura completa -->
    <div class="col col-2 h-100 p-3">

      <!-- Contenedor interno del sidebar con scroll -->
      <div class="bg-light h-100 overflow-auto p-3 rounded-4">

        <!-- Contenido del sidebar -->
        <app-sidebar></app-sidebar>

      </div>

    </div>

    <!-- Contenido principal -->
    <div class="col col-10 h-100 p-3">

      <!-- Contenedor light que usa flex para organizar el contenido vertical -->
      <div class="bg-light h-100 d-flex flex-column p-3 rounded-4">

        <!-- Contenido de los componentes que se rendizaran -->
        <router-outlet />
        <!-- <app-page-modulosyroles></app-page-modulosyroles> -->
        <!-- <app-page-productosyservicios></app-page-productosyservicios> -->

      </div>

    </div>

  </div>

</div>
